/* .page {
  padding: 4rem 0;
}

.page h1 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-bottom: 2rem;
}

.page p {
  font-size: 1.2rem;
  color: #444;
  max-width: 600px;
} */